export MARS_ENV="devel"
export MARS_TEAM="mars_drake"
export MARS_UNITTEST_KEYSPACE_ID="unittest_dbridgew"

PATH=/home/gitdet/bin   # Added you need to ensure that you have a recent enough version of Git.
PATH=${PATH}:/usr/mgc/peteoss/bin
PATH=${PATH}:$HOME/bin
PATH=${PATH}:$HOME/bin/$VCO
PATH=${PATH}:$HOME/tools/$VCO/bin
PATH=${PATH}:/bin
PATH=${PATH}:/scratch1/bin
PATH=${PATH}:/sbin
PATH=${PATH}:/usr/local/bin
PATH=${PATH}:/usr/bin
PATH=${PATH}:/usr/sbin
PATH=${PATH}:/usr/X11R6/bin
PATH=${PATH}:/usr/local/sbin
PATH=${PATH}:/usr/mgc/bin
PATH=${PATH}:/user/icdet/bin
PATH=${PATH}:/user/peteoss/bin
PATH=${PATH}:/user/pete/bin
PATH=${PATH}:/user/pete/$VCO/bin
PATH=${PATH}:/user/peteoss/$VCO/bin
PATH=${PATH}:/user/pevtools/bin
PATH=${PATH}:/user/pevtools/$VCO/bin
PATH=${PATH}:/usr/calibre/bin
PATH=${PATH}:/wv/cal_aws/tools/bin
PATH=${PATH}:/user/icbuild/roundup/bin
PATH=${PATH}:/wv/mgc/mgc_server/bin
PATH=${PATH}:/user/peteoss/aoi/bin
PATH=${PATH}:/home/dbridgew/local/bin
PATH=${PATH}:/home/dbridgew/Dotfiles/pushover/

export GRID_SRC=`source /wv/calgrid/sge/default/common/settings.sh`

export MGC_HOME=/wv/icdet/work_areas/d_top_last/ic/ic_superproj/aoi/Mgc_home

export LM_LICENSE_FILE="1717@wv-lic-01:1717@wv-lic-02:1717@wv-lic-03:1717@wv-lic-04:1717@wv-lic-05:1700@pevlic:1700@pevlic4:1700@pevlic2"

export CVSROOT=':pserver:calcvs:/cvs/qa'
